.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff; /* White background */
  overflow: hidden; /* Hide overflow to ensure clean appearance */
}

.loading-text {
  font-size: 5rem; /* Large text */
  font-weight: bold;
  color: rgb(58, 101, 251); /* Blue color */
  animation: pulse 2s infinite; /* Animation */
}

/* Pulse animation for text */
@keyframes pulse {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.8;
    transform: scale(1);
  }
}
